extends base.pug

block style
  style
    include ../static/style.css
    include ../static/styleabout.css

block content
    body
    header
      h1 My About Me Page
    main
      section
        div#pic
                img(src="../static/Dip.jpg")
        h2 Personal Information
        p Name: Diptanu Baidya
        p Age: 27+ 
        p Location: Hyderabad, India
      section
        h2 Hobbies and Interests
        ul
          li Travelling
          li Playing Cricket
      section
        h2 Education
        p Degree: Bechelor of Technology
        p School: JIS College of Engineering
        p Degree: Java Full Stack Development
        p School: Edubridge Learning Pvt Ltd
      section
        h2 Skills
        ul
          li HTML
          li CSS
          li JAVASCRIPT
          li NODE JS
          li EXPRESS JS
          li PUG
          li ANGULAR
          li CORE JAVA
          li SPRING BOOT
          li MYSQL
          li MONGODB
      section
        h2 Certifications
        ul
          li Post Graduate Certification in Java Full Stack Development-EduBridge Learning Pvt. Ltd.
          li Aptitude Test Preparation for Job Seekers online course -EduBridge Learning Pvt. Ltd
          li Introduction to HTML Sololearn.
          li Responsive Web Design - FreeCodeCamp
          li Responsive Web Development with HTML5,CSS3, JavaScript -Infosys Springboard .
          li MySQL Database Development Mastery - Infosys Springboard
          li Bootstrap CSS - Masai.
          li UX Design by Example - Infosys Springboard
          li Java Fundamental By Infosys Springboard
          li Angular Development by Infosys Springboard
      section
        h2 Projects
        ul
          li Smart Watch E-Commerce Website using Angular, Spring Boot,MySQL-
          li A Book Shop using Angular.
          li Java Course Registration.
          li My Portfolio.
          li Age Calculator. using JavaScript. .
          li My College Website Demo.
          li My Photography Blogs Website
      section
        h2 Brief Information
        p Hello there! this is Diptanu, Post Graduate Certified in JavaFull Stack Developer, I'm very passionate about ComputerProgramming,Coding, Web Development. Due to that I amSwitching my career goal from the Mechanical to the ITfield to try to gather knowledge about HTML,CSS,JavaScript,Bootstrap, Angular, Core Java, and so onfrom Edu-Bridge India: Professional Online Course. Also,have 4years of Experience in a Construction Company asan AutoCAD Designer.