doctype html
html
  head
    title Diptanu Personal Page
    block style
    
  body
    nav#navbar
        ul
            div#logo
                img(src="../static/logo.png")
                
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/contact") Contact]
    block content
    footer#footer
        | Copyright @ 2023 Diptanu'sPersonalProperty.com | All right Reserved