extends base.pug

block style 
     style
      include ../static/style.css

block content 


     section#introSection
        div 
            | Welcome to
            span.highlight  Diptanu's
            |  Personal Property
        div.small Eat Work Home Eat Sleep, Repeat